/* font style */

@font-face {
    font-family: 'Rajdhani-Bold';
    src:  url('../fonts/Rajdhani-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Light';
    src: url('../fonts/Rajdhani-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Medium';
    src: url('../fonts/Rajdhani-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Regular';
    src: url('../fonts/Rajdhani-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('../fonts/Rajdhani-SemiBold.ttf') format('truetype');
}

.Rajdhani-Bold {
    font-family: "Rajdhani-Bold";
}

.Rajdhani-Light {
    font-family: "Rajdhani-Light";
}

.Rajdhani-Medium {
    font-family: "Rajdhani-Medium";
}

.Rajdhani-Regular {
    font-family: "Rajdhani-Regular";
}

.Rajdhani-SemiBold {
    font-family: "Rajdhani-SemiBold";
}

.meta-body {
    background-color: #1a0f21;
    padding: 1% 1%;
    position: relative;
}

.meta-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.logo-block {
    margin: 5px;
}

.meta-fox {
    /* background-color: #2fc4c8; */
    border: none;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
}

.meta-fox-icon {
    width: 34px;
    height: 34px;
}

.font-white {
    color: white;
}

.wallet-address {
    /* background-color: #2fc4c8; */
    border: none;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    margin-left: 4%;
    position: relative;
}

.relic-text {
    font-size: 2.0rem;
}

.text-sention {
    position: relative;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.main-title {
    border-bottom: 2px solid #00c1cf;
}

.text-block {
    color: #999999;
    margin-top: 2%;
    font-size: 16px;
}

.art-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.paper-text {
    color: #999999;
    font-size: 16px;
}

.stone {
    border: 2px solid #1e1127;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.stone-1 {
    width: 220px;
    height: 220px;
}

.stone-2 {
    width: 220px;
    height: 220px;
}

.stone-3 {
    width: 220px;
    height: 220px;
}

.paper-btn {
    background-color: #2fc4c8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.foot-text {
    color: #4d4d4d;
    margin-top: 4%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}

.stone-craft {
    background: transparent;
    color: white;
    border: 1px solid #40d1cc;
    padding: 6px 0;
    margin-top: 7%;
    font-size: 14px;
    width: 40%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: .5s;
}

.craft-group {
    width: 100%;
    position: relative;
}

.m-text {
    color: black;
    background: white;
    border-radius: 50%;
    font-size: 14px;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mage-icon {
    width: 30px;
    height: 30px;
}

.mage-text {
    color: #888789;
    font-size: 16px;
    margin-left: 3%;
    padding-top: 3px;
}

.mage-block {
    width: 100%;
    position: relative;
}

@media(max-width: 1550px) {

}

@media(max-width: 1400px) {

}

@media(max-width: 1200px) {

}

@media (max-width: 1024px) {
    .meta-header {
        justify-content: center;
    }
}

@media (max-width: 950px) {

}

@media (max-width: 780px) {

}

@media(max-width: 756px) {
    .relic-text {
        font-size: 23px;
        font-weight: bold;
    }
    .text-sention {
        width: 90%;
    }
    .text-block {
        font-size: 10px;
    }
    h4 {
        font-size: 18px;
        font-weight: bold;
    }
    .foot-text {
        font-size: 9px;
        line-height: 15px;
    }
    .t-2 {
        margin-top: 7%;
    }
}

/* Custom CSS */

.disabled {
    opacity: 0.3;
}

.cursorpointer{
    cursor:pointer;
}

.stone-craft:hover {
    opacity: 0.5;
}

.stone-craftown {
    background: transparent;
    color: white;
    border: 1px solid #40d1cc;
    margin: 5px;
    font-size: 14px;
    min-width: 20%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: .5s;
}

.meta-foxown {
    /* background-color: #2fc4c8; */
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    border-radius: 20px;
    max-width: 100%;
    height: 40px;
}

.flexown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underlinedtext{
    text-decoration: underline;
    text-decoration: bold;
}
