.glassmorphism{
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.modalTitle{
    font-size: 50px;
    font-weight: bold;
    color: #053549;
    text-align: center;
    margin-bottom: 20px;
}

.modalWallet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 999;
}
.modalButton{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: 0.5s;
}

.modalButton:hover{
    transform: scale(1.1);
    background-color: #35aee2;
    color: white;
}

.modalbackgroundInvisible{
    position: absolute;
    background-color: rgba( 0, 0, 0, 0 );
    padding: 10px;
    border: none;
    top: 0;
    right: 0;
    z-index: 998;
}
.hideModal{
    display: none;
}

.modalDivButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
